 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}
body{

    background: rgb(240, 252, 250);
    color: rgb(255, 145, 145);
    overflow: hidden;
    overflow-y: scroll;
} 

